---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import PostsByYear from "@/components/post/PostsByYear.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Section>
    <Container>
      <div class="pb-2 mb-4 border-b">
        <h1 class="text-lg font-bold">BLOG</h1>
      </div>

      <PostsByYear />
    </Container>
  </Section>
</Layout>
