---
import { site_config } from "../../consts";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import PostsByYear from "@/components/post/PostsByYear.astro";

const breadcrumbs = [{ label: "Blog" }];
const { title, description } = site_config;
---

<Layout title={title} description={description} breadcrumbs={breadcrumbs}>
  <Section>
    <Container class="heading-w-lines border-b">
      <h1 class="flex flex-col">
        list of all
        <span class="leading-[20px] pt-[11px]">blog posts</span>
      </h1>
    </Container>
    <Container class="pt-0 px-0">
      <PostsByYear />
    </Container>
  </Section>
</Layout>
