---
import { site_config } from "../../consts";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import PostsByYear from "@/components/post/PostsByYear.astro";

const breadcrumbs = [{ label: "Blog" }];
const { title, description } = site_config;
---

<Layout title={title} description={description} breadcrumbs={breadcrumbs}>
  <Section>
    <Container>
      <div class="pb-2 mb-4 border-b">
        <h1 class="text-lg font-bold">BLOG POSTS</h1>
      </div>

      <PostsByYear />
    </Container>
  </Section>
</Layout>
