---
import { getCollection } from "astro:content";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import PostsListItem from "@/components/post/PostsListItem.astro";
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";

type Post = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts: Post[] = await getCollection("blog");
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const breadcrumbs = [{ label: "Tags" }, { label: tag }];
---

<Layout title={tag} description="tags" breadcrumbs={breadcrumbs}>
  <Section>
    <Container class="uppercase font-bold border-b">
      <h1 class="text-sm">
        all posts tagged as: <br />
        <span class="text-2xl font-sans">{tag}</span>
      </h1>
    </Container>
    <Container>
      <ul class="flex flex-col list-none">
        {posts.map((post) => <PostsListItem {...post} />)}
      </ul>
    </Container>
  </Section>
</Layout>
