---
import { site_config } from "../consts";
import { Marquee } from "@/components/ui/marquee";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { Link } from "@/components/ui/link";
import RecentPosts from "@/components/post/RecentPosts.astro";
import Section from "@/components/Section.astro";

const { title, description } = site_config;
---

<Layout title={title} description={description}>
  <Section as="header">
    <Container class="flex flex-col p-0 sm:flex-row">
      <div class="w-full px-4 py-8 sm:w-7/12">
        <p class="mb-4 text-sm text-muted-foreground">
          <b class="text-foreground">.raw</b> is an opinionated static blogging template
          built with
          <Link href="https://astro.build/" underline external> Astro </Link>,
          <Link href="https://tailwindcss.com/" underline external>
            Tailwind
          </Link>
          , and
          <Link href="https://ui.shadcn.com/" underline external
            >shadcn/ui
          </Link>. This template serves as a lightweight, minimally-styled
          starting point for anyone looking to build a personal website, blog,
          or portfolio with Astro.
        </p>
        <p class="text-sm text-muted-foreground">
          To use this template, check out the

          <Link href="https://github.com/0xcgn/.raw" underline external>
            GitHub
          </Link>

          repository.
        </p>
      </div>
      <div class="w-5/12 sm:border-t-none sm:border-l aspect-video"></div>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="pb-4">
        <h3 class="pb-4 font-bold font-lg">Getting Started</h3>
        <RecentPosts count={3} />
      </div>

      <div>
        <p class="text-sm text-muted-foreground">
          Looking for a blog template with a bit more personality? Check out the
          small guide on How to customize the template.
        </p>
      </div>
    </Container>
  </Section>
  <Section>
    <Container class="px-0 py-0">
      <Marquee pauseOnHover className="[--duration:20s]">
        {
          [
            "we like it raw",
            "·",
            "we like the raw",
            "·",
            "life is raw",
            "·",
            "raw is good",
            "·",
            "raw is food",
            "·",
          ].map((slogan) => (
            <div class="text-xs font-bold uppercase">{slogan}</div>
          ))
        }
      </Marquee>
    </Container>
  </Section>
</Layout>
