---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import RecentPosts from "@/components/post/RecentPosts.astro";
import Section from "@/components/Section.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Section as="header">
    <Container class="py-8">
      <h1 class="font-bold text-xl pb-4">Greetings, fellow Astronauts!</h1>
      <p class="mb-4">
        <b class="text-lg">.raw</b> is an opinionated static blogging template built
        with
        <Link href="https://astro.build/" underline external> Astro </Link>,
        <Link href="https://tailwindcss.com/" underline external>
          Tailwind
        </Link>
        , and
        <Link href="https://ui.shadcn.com/" underline external
          >shadcn/ui
        </Link>. This template serves as a lightweight, minimally-styled
        starting point for anyone looking to build a personal website, blog, or
        portfolio with Astro.
      </p>
      <p>
        To use this template, check out the

        <Link href="https://github.com/0xcgn/.raw" underline external>
          GitHub
        </Link>

        repository.
      </p>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="py-4">
        <h3 class="font-lg font-bold pb-4">Latest Posts</h3>

        <RecentPosts count={3} />
      </div>

      <div>
        <p>
          Looking for a blog template with a bit more personality? Check out the
          small guide on How to customize the template.
        </p>
      </div>
    </Container>
  </Section>
</Layout>
