---
import { ModeToggle } from "@/components/ui/mode-toggle";
import { Search } from "@/components/ui/search";
import { site_config } from "@/consts";
import Container from "@/components/Container.astro";
import HeaderLink from "@/components/header/HeaderLink.astro";
import Section from "@/components/Section.astro";
import Socials from "@/components/Socials.astro";
---

<Section
  as="header"
  class="sticky -top-12 z-10 bg-background font-mono"
  transition:persist
>
  <Container class="border-dashed h-12" />
  <Container class="py-0 pr-0 border-t">
    <div class="flex justify-between items-center">
      <nav>
        <h2 class="font-bold"><a href="/">{site_config.title}</a></h2>
      </nav>

      <nav
        class="flex jusify-center h-full uppercase font-mono tracking-wide text-xs"
      >
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/blog/components">Components</HeaderLink>
        <div class="border-l">
          <ModeToggle client:load />
        </div>
      </nav>
    </div>
  </Container>
  <Container
    class="border-t p-0 flex flex-col-reverse sm:flex-row sm:justify-between sm:items-center"
  >
    <div class="sm:w-7/12">
      <slot name="subheader-left" />
    </div>
    <div class="sm:w-5/12 flex justify-end">
      <Search />
      <Socials />
    </div>
  </Container>
</Section>
