---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    "flex items-center  text-foreground/60 hover:text-foreground/80 px-2",
    className,
    { "text-foreground/90": isActive },
  ]}
  {...props}
>
  <slot />
</a>
