---
import { ModeToggle } from "@/components/ui/mode-toggle";
import { CommandSearch } from "@/components/command-search";
import { site_config } from "@/consts";
import Container from "@/components/Container.astro";
import HeaderLink from "@/components/header/HeaderLink.astro";
import Section from "@/components/Section.astro";
import Socials from "@/components/Socials.astro";

const { title, main_nav } = site_config;
---

<Section
  as="header"
  class="sticky z-10 font-mono -top-12 bg-background"
  transition:persist
>
  <Container class="h-12 border-dashed" />
  <Container class="py-0 pr-0 border-t">
    <div class="flex items-center justify-between">
      <nav>
        <h2 class="font-bold"><a href="/">{title}</a></h2>
      </nav>

      <nav
        class="flex h-full font-mono text-xs tracking-wide uppercase jusify-center"
      >
        {
          main_nav.map((link) => (
            <HeaderLink href={link.href}>{link.title}</HeaderLink>
          ))
        }

        <div class="border-l">
          <ModeToggle client:load />
        </div>
      </nav>
    </div>
  </Container>
  <Container
    class="flex flex-col-reverse p-0 border-t sm:flex-row sm:justify-between sm:items-center"
  >
    <div class="sm:w-7/12">
      <slot name="subheader-left" />
    </div>
    <div class="flex justify-end sm:w-5/12">
      <!-- <Search /> -->
      <CommandSearch client:load />
      <Socials />
    </div>
  </Container>
</Section>
