---
import { ModeToggle } from "@/components/ui/mode-toggle";
import { CommandSearch } from "@/components/command-search";
import { site_config } from "@/consts";
import Container from "@/components/Container.astro";
import HeaderLink from "@/components/header/HeaderLink.astro";
import Section from "@/components/Section.astro";
import Socials from "@/components/Socials.astro";

const { title, main_nav } = site_config;
---

<Section
  as="header"
  class="sticky -top-12 z-10 bg-background font-mono"
  transition:persist
>
  <Container class="border-dashed h-12" />
  <Container class="py-0 pr-0 border-t">
    <div class="flex justify-between items-center">
      <nav>
        <h2 class="font-bold"><a href="/">{title}</a></h2>
      </nav>

      <nav
        class="flex jusify-center h-full uppercase font-mono tracking-wide text-xs"
      >
        {
          main_nav.map((link) => (
            <HeaderLink href={link.href}>{link.title}</HeaderLink>
          ))
        }

        <div class="border-l">
          <ModeToggle client:load />
        </div>
      </nav>
    </div>
  </Container>
  <Container
    class="border-t p-0 flex flex-col-reverse sm:flex-row sm:justify-between sm:items-center"
  >
    <div class="sm:w-7/12">
      <slot name="subheader-left" />
    </div>
    <div class="sm:w-5/12 flex justify-end">
      <!-- <Search /> -->
      <CommandSearch client:load />
      <Socials />
    </div>
  </Container>
</Section>
