---
import { getEntry } from "astro:content";
import Link from "@/components/Link.astro";

type Props = {
  id: string;
};

const { id } = Astro.props;

const author = await getEntry("authors", id);
const { name, links, avatar } = author!.data;
---

<Link href={`/authors/${id}`} class="text-foreground uppercase">
  <span>{name}</span>
</Link>
