---
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";
import Author from "@/components/Author.astro";
import { Coffee, Heart } from "lucide-react";
import { SiAstro } from "@icons-pack/react-simple-icons";
import { Button } from "@/components/ui/button";
---

<Section as="footer" class="border-b-0 grow">
  <Container
    class="text-xs border-b flex justify-between items-start py-0 pr-0"
  >
    <p class="flex items-center gap-1 py-4 w-10/12">
      Crafted with
      <Coffee className="w-3 h-3" />
      <span class="ml-[-3px]">,</span>
      <Heart className="w-3 h-3" />
      and a lot of
      <SiAstro className="w-3 h-3" />
      magic by
      <Author class="font-semibold" handle />
    </p>
    <Button
      variant="ghost"
      className="border-l font-bold w-2/12 flex-wrap h-auto"
      >BUY ME A

      <!-- TODO: add a link to buymeacoffee  -->
      <span class="text-lg">COFFEE</span></Button
    >
  </Container>
  <Container class="h-12 border-dashed" />
</Section>
