---
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";
import Link from "@/components/Link.astro";

const today = new Date();
---

<Section as="footer" class="border-b-0 grow">
  <Container class="border-b">
    <p class="text-[0.6em]">
      &copy;{today.getFullYear()}
      <Link href="https://x.com/0xcgn" underline external>@0xcgn</Link>. All
      rights reserved.
    </p>
  </Container>
  <Container class="h-12 border-dashed" />
</Section>
