---
import HeaderLink from "@/components/HeaderLink.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import { SITE_TITLE } from "../consts";
import { ModeToggle } from "@/components/ui/mode-toggle";
---

<Section
  as="header"
  class="sticky -top-12 z-10 bg-background font-mono"
  transition:persist
>
  <Container class="border-dashed h-12" />
  <Container class="py-0 pr-0 border-t">
    <div class="flex justify-between items-center">
      <nav>
        <h2 class="font-bold"><a href="/">{SITE_TITLE}</a></h2>
      </nav>

      <nav
        class="flex jusify-center h-full uppercase font-mono tracking-wide text-xs"
      >
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <div class="border-l">
          <ModeToggle client:load />
        </div>
      </nav>
    </div>
  </Container>
</Section>
