---
import HeaderLink from "@/components/HeaderLink.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import { SITE_TITLE } from "../consts";
import { ModeToggle } from "@/components/ui/mode-toggle";
---

<Section as="header" class="sticky top-0 z-10 bg-background" transition:persist>
  <Container>
    <div class="flex justify-between">
      <nav>
        <h2><a href="/">{SITE_TITLE}</a></h2>
      </nav>

      <nav>
        <ul>
          <li><HeaderLink href="/">Home</HeaderLink></li>
          <li><HeaderLink href="/blog">Blog</HeaderLink></li>
          <li><HeaderLink href="/about">About</HeaderLink></li>
        </ul>
        <div>
          <ModeToggle client:load />
        </div>
      </nav>
    </div>
  </Container>
</Section>
