---
// see details in: https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
---

<div
  class:list={[
    "prose max-w-none dark:prose-invert",
    "prose-h1:font-bold prose-h1:text-xl",
    "prose-a:font-foreground prose-a:no-underline",
    "prose-p:text-muted-foreground",
    "prose-img:rounded-xl",
    // "prose-headings:underline",
  ]}
>
  <slot />
</div>
