---
import { MoveRight } from "lucide-react";
import { Tag } from "@/components/ui/tag";
import Link from "@/components/Link.astro";
import type { Post } from "@/lib/post-utils";

type Props = Post;

const { id, data } = Astro.props;
const { title, tags } = data;
---

<li class="border-b last:border-b-0">
  <Link
    class="flex items-center justify-between py-1 pr-1 text-sm transition ease-in-out text-muted-foreground hover:text-foreground hover:translate-x-1"
    href={`/blog/${id}`}
  >
    <div class="font-semibold sm:w-7/12">
      {title}
    </div>

    <div
      class="flex-wrap hidden gap-1 text-sm font-light lowercase sm:w-4/12 sm:flex"
    >
      <!-- {tags.map((tag: string) => <Tag tag={tag} />)} -->
      {
        tags.map((tag: string, index) => (
          <span>
            {tags.length > 1 && index !== tags.length - 1 ? `${tag},` : tag}
          </span>
        ))
      }
    </div>

    <div class="w-1/12">
      <MoveRight className="ml-auto w-4 h-4" />
    </div>
  </Link>
</li>
