---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import PostHeader from "@/components/post/PostHeader.astro";
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";
import Breadcrumbs from "@/components/Breadcrumbs.astro";

type Props = CollectionEntry<"blog">;

const { title, description } = Astro.props.data;
const breadcrumbs = [{ href: "/blog", label: "Blog" }, { label: title }];
---

<Layout title={title} description={description} breadcrumbs={breadcrumbs}>
  <PostHeader {...Astro.props} />

  <Section as="article">
    <Container>
      <slot />
    </Container>
  </Section>
</Layout>
